# Log level (debug [default], info, warn, error)
LOG_LEVEL=debug

# Host and port [default: 127.0.0.1:20045]
HOST=127.0.0.1
PORT=20045

# Number of worker threads [default: 0 = double the number of CPUs]
WORKERS=0
# Maximum number of requests in queue [default: 100]
QUEUE_SIZE=100

# Enable URL signature verification [default: false]
SIGNATURE_ENABLED=false
# Signature secret key used for HMAC-SHA256 verification, for example run `openssl rand -hex 48` in terminal to generate a new random string
SIGNATURE_SECRET=

# CORS allowed origins [default: *]
CORS_ALLOWED_ORIGINS=*

# Enable libvips memory debugging
VIPS_DEBUG=false
# Number of libvips threads [default: 1]
VIPS_CONCURRENCY=1

# Data directory root, skipped from URL [default: data]
DATA_DIR=data
# Serve all files in data directory [default: false]
DATA_SERVE_ALL=false


#####
# Cache options
#####

# Cache directory [default: cache]
CACHE_DIR=cache

# Enable memory cache [default: true]
CACHE_MEMORY_ENABLED=true
# Maximum number of cache entries [default: 1000]
CACHE_MEMORY_CAPACITY=1000
# Maximum size of single cache entry in MB [default: 2]
CACHE_MEMORY_ENTRY_LIMIT=2

# Enable disk cache [default: true]
CACHE_DISK_ENABLED=true
# Maximum _effective_ size of disk cache in MB [default: 1024]
CACHE_DISK_LIMIT=1024


#####
# SVG loading options
# By default, libvips blocks loading SVG images larger than 10 MB to increase security.
#####

# Allow loading SVG images larger than 10 MB [default: false]
SVG_UNLIMITED=false
# SVG load DPI [default: 72]
SVG_LOAD_DPI=72


#####
# Office document conversion options
#####

# Timeout for office document conversion in seconds [default: 30]
OFFICE_CONVERSION_TIMEOUT=30


#####
# Image processing options
#####

# Automatically rotate image based on EXIF orientation tag [default: true]
IMAGE_EXIF_AUTO_ROTATE=true
# Enable image upsizing [default: false]
IMAGE_UPSIZE=false
# Enable image extending to fit aspect ratio (bg, copy, repeat, mirror) [default: bg]
IMAGE_EXTEND=bg
# Fit image to requested width and height (cover [default], contain, force)
IMAGE_FIT=cover
# Default gravity (top, right, bottom, left, top-left, top-right, bottom-left, bottom-right, center [default], attention, entropy)
IMAGE_GRAVITY=center
# Default cropping gravity (top, right, bottom, left, top-left, top-right, bottom-left, bottom-right, center [default], attention, entropy)
IMAGE_CROP_GRAVITY=center
# Image resampling algorithm (nearest, linear, cubic, lanczos2, lanczos3 [default])
IMAGE_RESAMPLE=lanczos3


#####
# Watermark options
#####

# Enable watermarking [default: false]
WATERMARK_ENABLED=false
# Watermark position (center, repeat, top, right, bottom, left, top-left, top-right, bottom-left, bottom-right [default])
WATERMARK_POSITION=bottom-right
# Watermark opacity [default: 50]
WATERMARK_OPACITY=50
# Watermark padding in px [default: 10]
WATERMARK_PADDING=10
# Watermark rotation in degrees [default: 0]
WATERMARK_ROTATE=0

# Watermark image path [default: ]
WATERMARK_IMAGE=
# Watermark image scale [default: 1]
WATERMARK_IMAGE_SCALE=1

# Watermark text [default: ]
WATERMARK_TEXT=
# Watermark font family [default: Arial]
WATERMARK_FONT_FAMILY=Arial
# Watermark font size in px [default: 12]
WATERMARK_FONT_SIZE=12
# Watermark font color [default: black]
WATERMARK_FONT_COLOR=black


#####
# Output options
#####

# Priority of output formats [default: jxl,avif,webp,jpeg,png]
OUTPUT_FORMAT_PRIORITY=jxl,avif,webp,jpeg,png
# Enable AVIF image output [default: true]
OUTPUT_ENABLE_AVIF=true
# Enable WEBP image output [default: true]
OUTPUT_ENABLE_WEBP=true
# Enable JPEG XL image output [default: true]
OUTPUT_ENABLE_JXL=true

# Metadata to keep in output images (none, icc, exif, xmp, iptc, other, gainmap, all) [default: none]
OUTPUT_METADATA=none
# Image quality (low, medium [default], high, maximum)
OUTPUT_QUALITY=medium
# Image processing effort (low, medium [default], high)
OUTPUT_EFFORT=medium
# Enable high bitdepth output [default: false]
OUTPUT_HIGH_BITDEPTH=false
# Enable CMYK output for CMYK images [default: false]
OUTPUT_CMYK=false
# Maximum output image width [default: 5000]
OUTPUT_MAX_WIDTH=5000
# Maximum output image height [default: 5000]
OUTPUT_MAX_HEIGHT=5000
# Maximum output image size in bytes [default: 0] (0 = unlimited)
OUTPUT_MAX_SIZE=0
